/* .div-1-wrapper{
  text-align: center;
} */
/* #btn-plus{
    background-color: blue;
    padding: 5px 20px 5px 20px;
    color: aliceblue;
    border: none;
    font-size: 20px;
}
#btn-minus{
    background-color: orangered;
    padding: 5px 20px 5px 20px;
    color: aliceblue;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}

//project done */